<!-- <div class="card">
    <div class="sale-tag"  *ngIf="product.discountPrice" >{{(100 - ( product.discountPrice/product.price * 100)).toFixed(0)}}% OFF</div>
  <img [src]="product.imageURL" alt="Card image cap" class="card-img-top">
  <div class="card-body">

    <div [ngClass]="{'ekart--product--name--withoutdist': !(product.discountPrice),'ekart--product--name': product.discountPrice}">{{ product.name }}</div>
    <div class="ekart--product--price">{{ product.price }}</div>
    <div class="ekart--product--category">
      {{ product.gender }} . {{ product.category }} . {{ product.brand }}
    </div>
    <div class="ekart--product--available-colors">
      {{product.color.length}} Colors . Best Seller
    </div>
    <div class="available-stock" 
    [ngStyle]="{
        'font-weight':'bold',
        'color':product.is_in_inventory ? 'Green' : 'Red'
    }">
    {{product.is_in_inventory ? 'In Stock' : 'Sold Out' }}
    </div>
  </div>
</div> -->


<div class="card" appCardHover >
    <div class="sale-tag"  *ngIf="products.discountPrice" >{{(100 - ( products.discountPrice/products.price * 100)).toFixed(0)}}% OFF</div>
  <img [src]="products.imageURL" alt="Card image cap" class="card-img-top">
  <div class="card-body">

    <div [ngClass]="{'ekart--product--name--withoutdist': !(products.discountPrice),'ekart--product--name': products.discountPrice}">{{ products.name }}</div>
    <div class="ekart--product--price" appHostBindHover>${{ products.price }}</div>
    <div>
      {{ products.gender }} . {{ products.category }} . {{ products.brand }}
    </div>
    <div class="ekart--product--available-colors">
      {{products.color.length}} Colors . Best Seller
    </div>
    <div class="available-stock" 
    [ngStyle]="{
        'font-weight':'bold',
        'color':products.is_in_inventory ? 'Green' : 'Red'
    }">
    {{products.is_in_inventory ? 'In Stock' : 'Sold Out' }}
    </div>
  </div>
</div>