<!-- <p>product-list works!</p>

<p>Name: {{product.Name}}</p>
<p>Price: {{product.Price}}</p>
<p>Color:{{product.color}}</p>
<p>Discounted price :{{getDiscountPrice().toFixed(2)}}</p>
<p>Instock:{{product.Instock > 0 ? product.Instock : "Not In Stock"}}</p>
<img [src]="product.imageURL" alt="Product Image">
<button [disabled]="!(product.Instock > 0) ">BuyNow</button>
<input [value]="name" (input)="onNameChange($event)">
<p>inputValue:{{name}}</p> -->
<app-search (SearchTextEvent)="onSearch($event)">
   
</app-search>
<!-- <div *ngFor="let items of oneArray">
<p>current element of the array is :{{items}}</p>
</div> -->
<product-list [searchText]="searchedTexts" #productListComponent></product-list>
<product-details *ngIf="productListComponent.searchedItems" [productListComponentEle]="productListComponentEl"></product-details>
 
<div class="latestcard">
<div class="contents">
    <h1>Latest Arrivals</h1>
    
<app-feature>
    <h4  class="title">this for 1st card heading</h4>
    <button class="btn btn-outline-warning">Learn More 1</button>
</app-feature>
<app-feature>
    <h4 class="title">this for 2nd card heading</h4>
    <button class="btn btn-outline-warning">Learn More 2</button>
</app-feature>
<app-feature>
    <h4 class="title">this for 3rd card heading</h4>
    <button class="btn btn-outline-warning">Learn More 3</button>
</app-feature>
</div>

</div>






