<!-- <p>product-list works!</p>
<div *ngFor="let ele of mn">
    <p>{{ele}}</p>
</div> -->

<!-- old code before creation of product component
<div class="container">
  <div class="card" *ngFor="let product of products" >
      <div class="sale-tag"  *ngIf="product.discountPrice" >{{(100 - ( product.discountPrice/product.price * 100)).toFixed(0)}}% OFF</div>
    <img [src]="product.imageURL" alt="Card image cap" class="card-img-top">
    <div class="card-body">

      <div [ngClass]="{'ekart--product--name--withoutdist': !(product.discountPrice),'ekart--product--name': product.discountPrice}">{{ product.name }}</div>
      <div class="ekart--product--price">{{ product.price }}</div>
      <div class="ekart--product--category">
        {{ product.gender }} . {{ product.category }} . {{ product.brand }}
      </div>
      <div class="ekart--product--available-colors">
        {{product.color.length}} Colors . Best Seller
      </div>
      <div class="available-stock" 
      [ngStyle]="{
          'font-weight':'bold',
          'color':product.is_in_inventory ? 'Green' : 'Red'
      }">
      {{product.is_in_inventory ? 'In Stock' : 'Sold Out' }}
      </div>
    </div>
  </div>
</div> -->


<!-- <ng-template #filtertemp *ngFor="let prod of products">
  <div *ngIf="selectedRadioFilterButton === 'all' || prod.is_in_inventory.toString() === selectedRadioFilterButton"></div>
</ng-template> -->

<app-filter 
[all]="totalstock" 
[InStock]="productInstock" 
[OutOfStock]="productOutOfStock" 
(selectRadioEvent)="onFilter($event)">
</app-filter>
<div class="container">
  <!-- *ngIf="selectedRadioFilterButton === 'all' || prod.is_in_inventory.toString() === selectedRadioFilterButton" -->
  <ng-container *ngFor="let prod of products">
    <app-product 
    [products]="prod" 
    *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText) 
    || prod.gender.toLowerCase().startsWith(searchText) 
    || prod.category.toLowerCase().includes(searchText) 
    " 
    (click)="searchedItems=prod"
    >
  </app-product>
  </ng-container  >
  
  </div>
