/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* Add this at the top of your style.css file */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* Import Jaro font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');


/* Import Google Font in styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


