<div class="search-bar">
    <!-- <input class="form-control" width="200px" type="search" placeholder="Search" [value]="searchText" (input)="updateSearchText($event)"> -->
 
    <!-- 
    Note:
    above snippet is before using the ngmodal property -->
    
    <!-- <input 
    class="form-control" 
    type="search" 
    placeholder="Search" [(ngModel)]="searchText" (input)="onChangeSearch()"
    >
     <button [ngClass]="{'btn':true, 'btn-search':searchText ,'btn-search-disable':!searchText}" type="submit" >Search</button>
    -->

    <!-- 
    Note:
    above snippet is we are searching the items dynamically without using search button 
    below snippet is using button with help of template reference -->

<!-- 
    <input 
    class="form-control" 
    type="search" 
    [value]="searchText"
    placeholder="Search" #searchInTrack>

    <button class='btn btn-search'
    type="submit" (click)="updateSearchText(searchInTrack)">Search</button> -->

<!-- Note:
in the above snippet we are passing the reference for click event 
below snippet is not passing the reference as a argument we psssing 
as a string inside @viewChild() decorator -->

<input 
class="form-control" 
type="search" 
[value]="searchText"
placeholder="Search" #searchInTrack>

<button class='btn btn-search'
type="submit" (click)="updateSearchText()">Search</button>

</div>
<p *ngIf="searchText !='' " class="searchtext">Search Result :{{searchText}}</p>